<div class="modal fade" id="addStockModal" tabindex="-1" role="dialog" aria-labelledby="addStockModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="addStockModalLabel">添加股票</h4>
        <input type="hidden" class="form-control" id="sel-code"/>
      </div>
      <div class="modal-body">
        <p class="text-danger" id="flash_msg"></p>
        <form>
          <div class="form-group">
            <label for="cname" class="control-label">请输入股票代码或名称</label>
            <input type="text" class="form-control" id="cname" data-provide="typeahead" data-value="" autocomplete="off"
                   placeholder="股票代码或名称">
            <input type="hidden" id="code" />
          </div>
          <div>提示：仅支持沪深A股，且不包括次新股</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>
</div>
<script type=text/javascript>


//加载完毕自动执行
$(function(){
     $('#addStockModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      var recipient = button.data('stock') // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.

      var stype = button.data('stype')

      var modal = $(this)
      //modal.find('.modal-title').text('设置股票 ' + recipient);
      modal.find('.modal-footer .btn-primary').on("click",save);

      var stockCname = modal.find('#cname');
      var stockCode = modal.find('#code');
      stockCode.val('');
      stockCname.val('');

    function save() {
      var stock_val = stockCode.val();
      if(stock_val==''){
        toastr.error('无效的股票。请从建议列表中选择。');
        return;
      }


      var aj = $.ajax( {
      url:$SCRIPT_ROOT + '/stock/add',
      data:{
               code : stock_val,
               cname : stockCname.val(),
               stype : stype
      },
      type:'post',
      cache:false,
      dataType:'json',
      success:function(data) {
          if(data.msg =="true" ){
              //window.location.reload();

              list_table.row.add(data.stock).draw();
              $('#example').removeClass("hidden");
              $("#guide").addClass("hidden");

              modal.modal('hide');
          }else{
              modal.find('.modal-body #flash_msg').text(data.msg);
          }
       }
      });
    }

    stockCname.typeahead({
              source: function (query, process) {
                return $.ajax({
                    url: $SCRIPT_ROOT + '/stock/query',
                    type: 'get',
                    data: { query: query },
                    dataType: 'json',
                    beforeSend: function () { },
                    complete: function (){ },
                    success: function (data) {
                        //重置数据
                        stockCode.attr('value', '');
                        modal.find('.modal-body #flash_msg').text('');
                        var resultList = data.result.map(function (item) {
                            var aItem = {id: item.id, name: item.name};
                            return JSON.stringify(aItem);
                        });
                        return process(resultList);

                    }
                });

            },
            /**
         * 使用指定的方式，高亮(指出)匹配的部分
         *
         * @param obj 数据源中返回的单个实例
         * @returns {XML|void|string|*} 数据列表中数据的显示方式（如匹配内容高亮等）
         */
        highlighter: function (obj) {
            var item = JSON.parse(obj);
            var query = this.query.replace(/[\-\[\]{}()*+?.,\\\^$|#\s]/g, '\\$&');
            return item.name.replace(new RegExp('(' + query + ')', 'ig'), function ($1, match) {
                return  '<strong>' + match + '</strong>'
            }) + '&nbsp;&nbsp;'
            + item.id.replace(new RegExp('(' + query + ')', 'ig'), function ($1, match) {
                return match
            });
        },
        /**
         * 在选中数据后的操作，这里的返回值代表了输入框的值
         *
         * @param obj
         * @return 选中后，最终输入框里的值
         */
        updater: function (obj) {
            var item = JSON.parse(obj);
            stockCode.attr('value', item.id);
            return item.name;
        },
            minLength:1,
            items: 10,   //显示10条
            delay: 800,  //延迟时间
        });



    });

      // 隐藏后消失
  $('#addStockModal').on('hidden.bs.modal', function (event) {
    var modal = $(this);
    modal.find('.modal-body #flash_msg').text('');
    modal.find('.modal-footer .btn-primary').unbind();
  });
});
</script>