<div class="modal fade" id="debetModal" tabindex="-1" role="dialog" aria-labelledby="debetModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="debetModalLabel"></h4>
        <input type="hidden" class="form-control" id="sel-code"/>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle"
                      data-toggle="dropdown">
                选择统计周期 <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" id="dm_q1">第一季度</a></li>
                <li><a href="#" id="dm_q2">第二季度</a></li>
                <li><a href="#" id="dm_q3">第三季度</a></li>
                <li class="divider"></li>
                <li><a href="#" id="dm_q4">年度(第四季度)</a></li>
              </ul>
            </div>
            <div id="chart_3" class="col-md-12"></div>
            <div id="chart_4" class="col-md-12"></div>
          </div>

          <div class="row">
            <div class="row">
              <table id="data_table" class="display" cellspacing="0" width="90%"></table>
            </div>
          </div>

          <div class="row">
            <div id="chart_1" class="col-md-12"></div>
            <div id="chart_2" class="col-md-12"></div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
<script type=text/javascript>
var debetModal = {};
debetModal.quarter = 0;

//加载完毕自动执行
$(function(){
  $('#debetModal').on('shown.bs.modal', function (event) {

    var button = $(event.relatedTarget)
    var code = button.data('stock') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.

    var modal = $(this)
    modal.find('.modal-title').text('债务结构 -' + button.data('name')+'-'+code );
    var data_table = modal.find('.modal-body #data_table');

    modal.find('.modal-body #dm_q1').on("click",{q:1},getData);
    modal.find('.modal-body #dm_q2').on("click",{q:2},getData);
    modal.find('.modal-body #dm_q3').on("click",{q:3},getData);
    modal.find('.modal-body #dm_q4').on("click",{q:4},getData);

    var aj = $.ajax( {
    url:$SCRIPT_ROOT + '/detail/debetJson',
    data:{
             code : code
    },
    type:'get',
    cache:false,
    dataType:'json',
    success:valuation
    });

  loadData(); //初始加载

  function getData(event){
   debetModal.quarter = event.data.q;
   loadData();
  }

  function loadData() {
    var aj = $.ajax( {
    url:$SCRIPT_ROOT + '/detail/debetExJson',
    data:{
             quarter : debetModal.quarter,
             code : code
    },
    type:'get',
    cache:false,
    dataType:'json',
    success:function(result) {
    var chb = {'name':'存货比',type: 'column',marker: {enabled: false}};
    chb['data'] = result.data.chb;

    var ch = {'name':'存货',yAxis: 1};
    ch['data'] = result.data.ch;

    var yszkb = {'name':'应收帐款比',type: 'column',marker: {enabled: false}};
    yszkb['data'] = result.data.yszkb;

    var yszk = {'name':'应收帐款',yAxis: 1};
    yszk['data'] = result.data.yszk;

    modal.find('.modal-body #chart_3').highcharts({
        chart: {zoomType: 'xy'},
        title: {text:  '存货比（存货/营业收入）'},
        xAxis: {categories: []},
        yAxis: [
        {// Primary yAxis
        title: {text: '比例'},
        labels: {
                format: '{value} %'
                }
        },
        {// Secondary yAxis
        title: {text: '数值'},
        labels: {
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
        opposite: true
        }],
        credits: {enabled: false},
        series: [chb,ch],
        tooltip:{
           crosshairs: true,
           shared: true
        }
    });
    modal.find('.modal-body #chart_4').highcharts({
        chart: {zoomType: 'xy'},
        title: {text:  '应收帐款比（应收帐款/营业收入）'},
        xAxis: {categories: []},
        yAxis: [
        {// Primary yAxis
        title: {text: '比例'},
        labels: {
                format: '{value} %'
                }
        },
        {// Secondary yAxis
        title: {text: '数值'},
        labels: {
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
        opposite: true
        }],
        credits: {enabled: false},
        series: [yszkb,yszk],
        tooltip:{
           crosshairs: true,
           shared: true
        }
    });

    }

    });
  };

  function valuation(result){
    var valuation_data = {'name':'总负债率',type: 'column',marker: {enabled: false}};
    valuation_data['data'] = result.data.fzl;

    var dqfz = {'name':'短期负债率',type: 'column',marker: {enabled: false}};
    dqfz['data'] = result.data.dqfz;


    //显示数据
    modal.find('.modal-body').show();
    if(modal_datatable)modal_datatable.destroy();

    modal_datatable = data_table.DataTable( {
        scrollY: 300,
        paging: false,
        data: result.data.tableData,
        "order": [[ 0, "desc" ]],
        searching: false,
        aoColumnDefs: [
        { "sWidth": "12%", "aTargets": [ 0 ] }
        ],
        columns: [
            { title: "日期" },
            { title: "总资产" },
            { title: "总负债" },
            { title: "股东权益" },
            { title: "存货" },
            { title: "应收账款" },
            { title: "总负债率(%)" },
            { title: "短期负债率(%)" },
            { title: "流动比" }
        ]
    } );

    modal.find('.modal-body #chart_1').highcharts({
        title: {text:  '总负债率'},
        xAxis: {categories: []},
        credits: {enabled: false},
        series: [valuation_data],
        tooltip:{
           crosshairs: true,
           shared: true
        }
    });

    modal.find('.modal-body #chart_2').highcharts({
        title: {text:  '短期负债率'},
        xAxis: {categories: []},
        credits: {enabled: false},
        series: [dqfz],
        tooltip:{
           crosshairs: true,
           shared: true
        }
    });


  }

    });

  // 隐藏后消失
  $('#debetModal').on('hidden.bs.modal', function (event) {
    var modal = $(this)
    modal.find('.modal-body').hide();
    modal.find('.modal-body #dm_q1').unbind();
    modal.find('.modal-body #dm_q2').unbind();
    modal.find('.modal-body #dm_q3').unbind();
    modal.find('.modal-body #dm_q4').unbind();
  });

});
</script>