{% from "macro/comment.html" import comment with context %}
<div class="modal fade" id="editBlogModal" tabindex="-1" role="dialog" aria-labelledby="editBlogModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editBlogModalLabel"></h4>
        <input type="hidden" class="form-control" id="sel-code"/>
      </div>
      <div class="modal-body">
            <!-- Default panel contents -->
            <div id="comment">
              <input id="comment-id" type="hidden"/>
              <div class="form-group">
                <textarea name="content" class="form-control" rows="3"></textarea>
              </div>
              <p class="text-right">
                <label class="radio-inline">
                  <input type="radio" name="optionsRadiosinline" id="optionsRadios1" value="0"> 看多
                </label>
                <label class="radio-inline">
                  <input type="radio" name="optionsRadiosinline" id="optionsRadios2" value="1"> 看空
                </label>
                <button type="button" class="btn btn-primary" id="comment-btn">提交</button>
              </p>

            </div>

            <!-- List group -->
            <ul class="list-group modal-list-group" id="comment-list"></ul>
            <div><a href="#" target="_blank" id="his-link">查看更多>>></a></div>
      </div>

    </div>
  </div>
</div>

<style>
  .modal-list-group {
    margin-top: 10px;
    overflow: auto;
}
</style>

<script type=text/javascript>


//加载完毕自动执行
$(function(){
     $('#editBlogModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      var recipient = button.data('stock')

      var modal = $(this)
      modal.find('.modal-title').text('投资笔记- ' + recipient);
      modal.find('.modal-body #comment-btn').on("click",updateComment);

      modal.find('.modal-body #his-link').attr("href","/stock/blog/" + recipient);

      var content_em = modal.find("div#comment textarea[name='content']");
      var submit_em = modal.find("button#comment-btn");
      var cid_em = modal.find("div#comment #comment-id");
      var radio_em = modal.find("div#comment input:radio");

      var cpid = '';

      radio_em.click(function(){
        submit_em.prop('disabled', false);
      });

      function updateComment() {
          if(content_em.val()=='')return;
          var aj = $.ajax( {
          url:$SCRIPT_ROOT + '/stock/updateComment',
          data:{
                   code : recipient,
                   cid : cid_em.val(),
                   flag: modal.find('div#comment input:radio:checked').val(),
                   content : content_em.val()
          },
          type:'post',
          cache:false,
          dataType:'json',
          success:function(result) {
              if(result.msg =="true" ){
                  initInputStat();
                  toastr.info('添加成功');
                  try
                  {
                   if(typeof(eval(addBlogCallBack))=="function")
                   {
                     addBlogCallBack(result.data);
                   }
                  }catch(e){}

              }
           }
          });
          return false;
        };

      function initInputStat(){
        content_em.val('');
        cid_em.val('');
        submit_em.prop('disabled', true);
        radio_em.attr("checked",false);
        modal.modal('hide');
      }

      function queryComment() {
          var aj = $.ajax( {
          url:$SCRIPT_ROOT + '/stock/queryComments',
          data:{
                   code : recipient,
                   page : 1
          },
          type:'post',
          cache:false,
          dataType:'json',
          success:function(result) {
             for(var i=0,a;a=result.data[i++];){
                makeCommentItem(a.pid,a.id,a.date,a.content,a.flag);
             }
           }
          });
        };

      function makeCommentItem(pid,id,date,content,flag){
          content =  content.replace(/\n/g,'<br/>');

          var commentItem = $('<li class="list-group-item" id="p-'+pid+'"></li>');
          modal.find("#comment-list").append(commentItem);
          var ci = '<h6 class="list-group-item-text" id="'+id+'">'+renderFlag(flag)+content+'</h6>\
                <p class="list-group-item-heading small text-right">'+date+'</p>';

          commentItem.append($(ci));
      }

      function renderFlag(flag){
          if(flag == '1')
            return '<i class="glyphicon glyphicon-thumbs-down" style="color:#FF0000;"></i>';
          else
            return '<i class="glyphicon glyphicon-thumbs-up" style="color:#008000;"></i>';
      }


    //加载执行
   initInputStat();
   queryComment();

    });


    // 隐藏后消失
  $('#editBlogModal').on('hidden.bs.modal', function (event) {
    var modal = $(this)
    modal.find("#comment-list").empty();
    modal.find('div#comment input:radio').unbind();
    modal.find('.modal-body #comment-btn').unbind();
    modal.find("div#comment textarea[name='content']").val('');
    modal.find("div#comment #comment-id").val('');
  });

});
</script>