{% from "macro/comment.html" import comment with context %}
<div class="modal fade" id="editBlogModal" tabindex="-1" role="dialog" aria-labelledby="editBlogModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editBlogModalLabel"></h4>
        <input type="hidden" class="form-control" id="sel-code"/>
      </div>
      <div class="modal-body">


            <!-- Default panel contents -->

            <div id="comment">
              <input name="stock" type="hidden" value="{{ code }}"/>
              <input id="comment-id" type="hidden"/>
              <div class="form-group">
                <textarea name="content" class="form-control" rows="3"></textarea>
              </div>
              <p class="text-right">
                <label class="radio-inline">
                  <input type="radio" name="optionsRadiosinline" id="optionsRadios1" value="0"> 看多
                </label>
                <label class="radio-inline">
                  <input type="radio" name="optionsRadiosinline" id="optionsRadios2" value="1"> 看空
                </label>
                <button type="button" class="btn btn-primary" id="comment-btn">提交</button>
              </p>

            </div>
            <div><a href="/stock/blog/{{ code }}" target="_blank">查看历史笔记</a></div>


      </div>

    </div>
  </div>
</div>

<style>
  .modal-list-group {
    height: 400px;
    margin-top: 10px;
    overflow: auto;
}
</style>

<script type=text/javascript>


//加载完毕自动执行
$(function(){
     $('#editBlogModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      var recipient = button.data('stock')

      var modal = $(this)
      modal.find('.modal-title').text('投资笔记- ' + recipient);
      modal.find('.modal-body #comment-btn').on("click",updateComment);

      var content_em = modal.find("div#comment textarea[name='content']");
      var submit_em = modal.find("button#comment-btn");
      var cid_em = modal.find("div#comment #comment-id");
      var radio_em = modal.find("div#comment input:radio");

      var cpid = '';

      radio_em.click(function(){
        submit_em.prop('disabled', false);
      });

      function updateComment() {
          if(content_em.val()=='')return;
          var aj = $.ajax( {
          url:$SCRIPT_ROOT + '/stock/updateComment',
          data:{
                   code : recipient,
                   cid : cid_em.val(),
                   flag: modal.find('div#comment input:radio:checked').val(),
                   content : content_em.val()
          },
          type:'post',
          cache:false,
          dataType:'json',
          success:function(result) {
              if(result.msg =="true" ){
                  initInputStat();
                  makeCommentItem(result.data.pid,result.data.id,result.data.date,result.data.content,result.data.flag);
              }
           }
          });
          return false;
        };

      function initInputStat(){
        content_em.val('');
        cid_em.val('');
        submit_em.prop('disabled', true);
        radio_em.attr("checked",false);
      }

      function queryComment() {
          var aj = $.ajax( {
          url:$SCRIPT_ROOT + '/stock/queryComments',
          data:{
                   code : recipient
          },
          type:'post',
          cache:false,
          dataType:'json',
          success:function(result) {
             for(var i=0,a;a=result.data[i++];){
                makeCommentItem(a.pid,a.id,a.date,a.content,a.flag);
             }
           }
          });
        };

      function makeCommentItem(pid,id,date,content,flag){
          content =  content.replace(/\n/g,'<br/>');

          if($("#comment-list #p-"+pid+"").length>0){

          var sci = '<h6 class="list-group-item-text '+renderFlag(flag)+'" id="'+id+'">'+content+'</h6>\
                      <p class="list-group-item-heading small text-right">\
                          [<a href="javascript:onCommentEdit(\''+id+'\',\''+pid+'\')">编辑</a>]'+date+'\
                          </p><hr style="border:.5 dashed #987cb9" />';
          $("#comment-list #p-"+pid+"").prepend($(sci));

          }else{

          var commentItem = $('<li class="list-group-item" id="p-'+pid+'"></li>');
          modal.find("#comment-list").prepend(commentItem);
          var ci = '<h6 class="list-group-item-text '+renderFlag(flag)+'" id="'+id+'">'+content+'</h6>\
                <p class="list-group-item-heading small text-right">\
                    [<a href="javascript:onCommentEdit(\''+id+'\',\''+pid+'\')">编辑</a>]'+date+'\
                </p>'
          commentItem.prepend($(ci));

          }
      }

      function renderFlag(flag){
          if(flag == '0')
          return 'bg-danger';
          else if(flag == '1')
          return 'bg-success';
          else
          return '';
      }


    //加载执行
   initInputStat();
   queryComment();

    });


    // 隐藏后消失
  $('#editBlogModal').on('hidden.bs.modal', function (event) {
    var modal = $(this)
    modal.find("#comment-list").empty();
    modal.find('div#comment input:radio').unbind();
    modal.find('.modal-body #comment-btn').unbind();
    modal.find("div#comment textarea[name='content']").val('');
    modal.find("div#comment #comment-id").val('');
  });

});
</script>