<div class="modal fade" id="holderModal" tabindex="-1" role="dialog" aria-labelledby="holderModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="holderModalLabel"></h4>
        <input type="hidden" class="form-control" id="sel-code"/>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="row">
              <div class="col-md-2 col-md-offset-10"><a id="m1_link" href='#'>更新数据</a></div>
              <table id="data_table" class="display" cellspacing="0" width="90%"></table>
            </div>
            <div id="value_chart" class="col-md-12"></div>
          </div>
          <div class="row">
            <div id="valuation_chart" class="col-md-12"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
<script type=text/javascript>


//加载完毕自动执行
$(function(){
  $('#holderModal').on('shown.bs.modal', function (event) {

    var button = $(event.relatedTarget)
    var code = button.data('stock') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.

    var modal = $(this)
    modal.find('.modal-title').text('机构持股情况 -' + button.data('name')+'-'+code );
    var valuation_chart = modal.find('.modal-body #valuation_chart');
    var value_chart = modal.find('.modal-body #value_chart');
    var data_table = modal.find('.modal-body #data_table');

    modal.find('.modal-body #m1_link').on("click",updateData);

    function updateData(){
        var aj = $.ajax( {
        url:$SCRIPT_ROOT + '/setting/updateHolder/',
        data:{
                 code : code
        },
        type:'get',
        cache:false,
        dataType:'json',
        success:function(result){
             if(result.msg == true){
                 $.ajax(holder_ajax_option);
             }else{
                console.error(result.msg);
             }
            }
        });

     };

    var holder_ajax_option =  {
    url:$SCRIPT_ROOT + '/detail/holderJson',
    data:{
             code : code
    },
    type:'get',
    cache:false,
    dataType:'json',
    success:valuation
    };
    $.ajax(holder_ajax_option);

  function valuation(result){
    var c1_data = {'name':'持股个数',type: 'column',marker: {enabled: false}};
    c1_data['data'] = result.data.holderSize;

    var c2_data = {'name':'持股比例',type: 'column',marker: {enabled: false}};
    c2_data['data'] = result.data.holderSum;


    //显示数据
    modal.find('.modal-body').show();
    if(modal_datatable)modal_datatable.destroy();

    modal_datatable = data_table.DataTable( {
        paging: false,
        data: result.data.tableData,
        "order": [[ 0, "desc" ]],
        searching: false,
        aoColumnDefs: [
        { "sWidth": "12%", "aTargets": [ 0 ] },
        { "sWidth": "12%", "aTargets": [ 4 ] }
        ],
        columns: [
            { title: "报告日期"},
            { title: "流通股东" },
            { title: "持有比例(%)" },
            { title: "持有数量" },
            { title: "持股变动数" }
        ]
    } );

    valuation_chart.highcharts({
        title: {text:  '机构历史持股个数'},
        xAxis: {categories: []},
        credits: {enabled: false},
        series: [c1_data],
        tooltip:{
           crosshairs: true,
           shared: true
        }
    });

    value_chart.highcharts({
        title: {text:  '机构历史持有比例'},
        xAxis: {categories: []},
        credits: {enabled: false},
        series: [c2_data],
        tooltip:{
           crosshairs: true,
           shared: true
        }
    });

  }

    });

  // 隐藏后消失
  $('#holderModal').on('hidden.bs.modal', function (event) {
    var modal = $(this)
    modal.find('.modal-body').hide();
  });

});
</script>