<div class="modal fade" id="roeModal" tabindex="-1" role="dialog" aria-labelledby="roeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="roeModalLabel"></h4>
        <input type="hidden" class="form-control" id="sel-code"/>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-2 col-md-offset-10"><a id="m1_link" href='#' target="_blank">收益率结构</a></div>
            <div id="valuation_chart" class="col-md-12"></div>
          </div>
          <div class="row">
            <div class="col-md-2 col-md-offset-10"><a id="m2_link" href='#' target="_blank">成长分析</a></div>
            <div id="value_chart" class="col-md-12"></div>
            <div class="row">
              <table id="data_table" class="display" cellspacing="0" width="90%"></table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
<script type=text/javascript>


//加载完毕自动执行
$(function(){
  $('#roeModal').on('show.bs.modal', function (event) {

    var button = $(event.relatedTarget)
    var code = button.data('stock') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.

    var modal = $(this)
    modal.find('.modal-title').text('收益率 ' + button.data('name')+'-'+code );
    var valuation_chart = modal.find('.modal-body #valuation_chart');
    var value_chart = modal.find('.modal-body #value_chart');
    var data_table = modal.find('.modal-body #data_table');

    modal.find('.modal-body #m1_link').attr("href","http://quotes.money.163.com/f10/dbfx_"+code+".html#01c08");
    modal.find('.modal-body #m2_link').attr("href","/stock/"+code);

    var aj = $.ajax( {
    url:$SCRIPT_ROOT + '/detail/roeJson',
    data:{
             code : code
    },
    type:'get',
    cache:false,
    dataType:'json',
    success:valuation
    });

  function valuation(result){
    var valuation_data = {'name':'趋势',marker: {enabled: false}};
    valuation_data['data'] = result.data.valuation;

    var actual_rate_data = {'name':'增长率',type: 'column',marker: {enabled: false}};
    actual_rate_data['data'] = result.data.actualRate;

    var actual_data = {'name':'主营收入',yAxis: 1,marker: {enabled: true}};
    actual_data['data'] = result.data.actual;



    valuation_chart.highcharts({
        title: {text:  '趋势'},
        xAxis: {categories: []},
        yAxis: [
        {
        labels: {
                format: '{value} %',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            }
        }
        ],
        credits: {enabled: false},
        series: [valuation_data],
        tooltip:{
           crosshairs: true,
           shared: true
        }
    });



  }

    });

  // 关闭按钮后隐藏
  $('#roeModal').on('hidden.bs.modal', function (event) {
    var modal = $(this)
    modal.find('.modal-body').hide();
  });
});
</script>