body {
  padding-top: 50px;
}

.note-edit {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1030;
  margin-bottom: 20px;
  margin-right: 10px;
  border-width: 1px 0 0;
}
.header-sprite {
    display: block;
    width: 140px;
    background: url(/static/images/mylogo5.png) no-repeat;
}

#lookup-stock{
    padding-top: 10px;
}