{% extends "stock_layout.html" %}
{% block body %}
<div>
  <div class="modal-header">
    <h4 class="modal-title" id="debetModalLabel"></h4>
    <input type="hidden" class="form-control" id="sel-code"/>
  </div>
  <div class="modal-body">
    <div class="container-fluid">

      <div class="row">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default active">
                <input type="radio" name="quarters" autocomplete="off" id="dm_q0"> 全年
            </label>
            <label class="btn btn-default">
                <input type="radio" name="quarters" autocomplete="off" id="dm_q1"> 第一季度
            </label>
            <label class="btn btn-default">
                <input type="radio" name="quarters" autocomplete="off" id="dm_q2"> 第二季度
            </label>
            <label class="btn btn-default">
                <input type="radio" name="quarters" autocomplete="off" id="dm_q3"> 第三季度
            </label>
            <label class="btn btn-default">
                <input type="radio" name="quarters" autocomplete="off" id="dm_q4"> 第四季度
            </label>
        </div>
     </div>

      <div class="row">
        <div class="row">
          <table id="data_table" class="display" cellspacing="0" width="90%"></table>
        </div>
      </div>
      <div class="row">
        <div id="chart_1" class="col-md-12"></div>
        <div id="chart_2" class="col-md-12"></div>
      </div>

        <div id="chart_3" class="col-md-12"></div>
        <div id="chart_4" class="col-md-12"></div>
    </div>
  </div>
</div>

<script type=text/javascript>
    var debetModal = {
      code : '{{ stock.code|safe }}',
      name : '{{ stock.name|safe }}',
      quarter : 0,
      pType : 1
    };
</script>
<script type="text/javascript" src="{{ url_for('static', filename='stock/debet.js',v=version_no) }}"></script>


{% endblock %}