{% extends "stock_layout.html" %}

{% block body %}

<div>
  <div class="modal-header">
    <h4 class="modal-title" id="holderModalLabel"></h4>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        {% if current_user.is_authenticated %}
            <a id="m1_link" href='#'>更新数据</a>
            {% endif %}
      </div>
      <div class="row">
        <div class="row" id="table_div"></div>
        <div id="value_chart" class="col-md-12"></div>
      </div>
      <div class="row">
        <div id="valuation_chart" class="col-md-12"></div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
<script type="text/javascript">
  var $stock = {
  code:'{{ stock.code|safe }}',
  name:'{{ stock.name|safe }}'
}
</script>

<script type="text/javascript" src="{{ url_for('static', filename='stock/holder.js',v=version_no) }}"></script>

{% include 'stock/partion/holder_track.html' %}
{% include 'stock/partion/add_stock.html' %}
{% endblock %}