{% extends "layout.html" %}
{% block nav %}
    <li>
        <a href="http://stockdata.stock.hexun.com/2009_cgjzd_{{code}}.shtml" target="_blank">股东人数变化</a>
    </li>
    <li>
        <a href="#" onclick="updateData('{{code|e}}')">数据更新</a>
    </li>
    <li>
        <a href='/stock/valuation/{{code|e}}' target="_blank">历史估值</a>
    </li>
    <li>
        {% if code[:2]=='sz' %}
        <a href="http://disclosure.szse.cn/m/drgg_search.htm?secode={{code[2:]}}" target="_blank">财务报告</a>
        {% else %}
        <a href="http://www.sse.com.cn/assortment/stock/list/info/announcement/index.shtml?productId={{code[2:]}}"
           target="_blank">财务报告</a>
        {% endif %}
    </li>
{% endblock %}

{% block body %}

<p class="container-fluid">
    <p class="row">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle"
                    data-toggle="dropdown">
                选择统计周期 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" onclick="getData(1,'{{ code|safe }}')">第一季度</a></li>
                <li><a href="#" onclick="getData(2,'{{ code|safe }}')">第二季度</a></li>
                <li><a href="#" onclick="getData(3,'{{ code|safe }}')">第三季度</a></li>
                <li class="divider"></li>
                <li><a href="#" onclick="getData(4,'{{ code|safe }}')">年度(第四季度)</a></li>
            </ul>
        </div>
    </p>

    <p class="row">
        <div id="revenue_0"></div>
        <div id="revenue_1"></div>
        <div id="revenue_2"></div>
        <div id="revenue_3"></div>
        <div id="revenue_4"></div>
    </p>

    <p class="row">
        <table id="example" class="display" cellspacing="0" width="90%"></table>
    </p>


</div>
<script type="text/javascript" src="{{ url_for('static', filename='stock/home.js') }}"></script>
<script type="text/javascript">
$(function(){
getData(4,'{{ code|safe }}');
});
</script>

{% endblock %}