{% extends "layout.html" %}
{% block nav %}
    <li>
        <a href='/stock/blog/{{code|e}}' target="_blank">日志</a>
    </li>
    <li>
        <a href='http://quotes.money.163.com/f10/zycwzb_{{code[2:]|e}},year.html' target="_blank">财务指标</a>
    </li>
    <li>
        <a href='http://stockdata.stock.hexun.com/2009_gg_{{code[2:]|e}}.shtml' target="_blank">高管资料</a>
    </li>

    <li><a href='http://data.eastmoney.com/report/{{code[2:]|e}}.html' target="_blank">研报</a></li>
    <li>
        {% if code[:2]=='sz' %}
        <a href="http://disclosure.szse.cn/m/drgg_search.htm?secode={{code[2:]}}" target="_blank">公司公告</a>
        {% else %}
        <a href="http://www.sse.com.cn/assortment/stock/list/info/announcement/index.shtml?productId={{code[2:]}}"
           target="_blank">公司公告</a>
        {% endif %}
    </li>
    <li>
        <a href="http://stockdata.stock.hexun.com/2009_cgjzd_{{code[2:]}}.shtml" target="_blank">股东人数变化</a>
    </li>
    <li>
        {% if code[:2]=='sz' %}
        <a href="http://irm.cninfo.com.cn/ssessgs/S{{code[2:]}}/index.html" target="_blank">IR活动记录</a>
        {% else %}
        <a href="http://sns.sseinfo.com/search.do?keyword={{code[2:]}}"
           target="_blank">IR活动记录</a>
        {% endif %}
    </li>
     <li><a href='http://stockhtm.finance.qq.com/sstock/quotpage/q/{{code[2:]}}.htm#news' target="_blank">新闻资讯(腾讯)</a></li>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">收藏的资讯</div>
            <table id="mynews_table" class="display" cellspacing="0" width="90%"></table>
        </div>
    </div>

    <div class="row">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li role="presentation"><a href="#163_news" role="tab" data-toggle="tab">163新闻</a></li>
            <li role="presentation"><a href="#qq_news" role="tab" data-toggle="tab">腾讯新闻</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="163_news">
                <table id="163_table" class="display" cellspacing="0" width="90%"></table>
                <nav>
                    <ul class="pager">
                        <li class="previous disabled"><a href="#">&larr; 向前</a></li>
                        <li class="next"><a href="#">向后 &rarr;</a></li>
                    </ul>
                </nav>
            </div>
            <div role="tabpanel" class="tab-pane" id="qq_news">
                <table id="qq_table" class="display" cellspacing="0" width="90%"></table>
                <nav>
                    <ul class="pager">
                        <li class="previous disabled"><a href="#">&larr; 向前</a></li>
                        <li class="next"><a href="#">向后 &rarr;</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</div>

{% include 'stock/partion/info_link.html' %}

<script type="text/javascript">
var infoPage = {
  code : '{{ code|safe }}'
};


// 去掉收藏
function removeFav(id,el) {
    var r=confirm("确认删除收藏记录吗？")
    if (r==true){
        var aj = $.ajax( {
        url:$SCRIPT_ROOT + '/detail/removeFavoriate',
        data:{
                 id : id
        },
        type:'post',
        cache:false,
        dataType:'json',
        success:function(data) {
            if(data.msg =="true" ){
            infoPage.list_table.row($(el).parents('tr')).remove().draw(false);
            }else{
                console.warn("server result is:"+data.msg);
            }
         }
        });
    }

  };

//加载完毕自动执行
$(function(){
    $('#myTab a:first').tab('show');

 infoPage.list_table = $('#mynews_table').DataTable({
    "order": false,
    searching: false,
    paging: false,
    "ajax": {
          url:$SCRIPT_ROOT + '/detail/favorList/{{ code|safe }}',
          type:'get',
          cache:false,
          dataType:'json',
          data:function(data) { // add request parameters before submit
                $.each(infoPage.ajaxParams, function(key, value) {
                    data[key] = value;
                });
          },
          "dataSrc": function(res) {
            return res;
          }
        },
    columns: [
            { title: "标题",data:"title" },
            { title: "链接",data:"url" },
            { title: "日期",data:"pub_date"},
            { title: "操作",data:"id"}
        ],
     columnDefs: [
              {
                  "targets": [0],
                  "render": function(data, type, full) {
                      return "<a data-href='"+full.url+"' data-stock='"+full.code+"' data-toggle='modal' data-title='"
                        +full.title+"' data-datetime='"+full.pub_date+"' data-src='"+full.src_type+"' href='#infoModal'>"
                        +full.title+"</a>&nbsp;"
                   }
              },
              {
                  "targets": [1],
                  "visible": false
              },
              {
                  "targets": [3],
                  "render": function(data, type, full) {
                      return "<a href='#' onclick='javascript:removeFav(" + data + ",this);return false;'>"+'删除'+"</a>&nbsp;"
                  }
              }
        ]
    });
});
</script>
<script type="text/javascript" src="{{ url_for('static', filename='stock/info_163.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='stock/info_qq.js') }}"></script>

{% endblock %}