{% extends "layout.html" %}

{% block nav %}
    {% if title=='备选股' %}
    <li><a href="#addStockModal"  data-stype="1" data-toggle="modal">添加备选股</a></li>
    {% endif %}
    {% if title=='自选股' %}
    <li><a href="#addStockModal"  data-stype="0" data-toggle="modal">添加自选股</a></li>
    {% endif %}
    {% if title=='相关股' %}
    <li><a href="#addRelationStockModal"  data-toggle="modal" data-stock="{{code|e}}">添加相关股票</a></li>
    {% endif %}
{% endblock %}

{% block body %}

<div class="container-fluid">
    <table id="example" class="display" cellspacing="0" width="98%">
        <thead>
        <tr>
            <th></th>
            <th>代码</th>
            <th>名称</th>
            <th>净利润TTM增长率(%)</th>
            <th><a href="#" data-toggle="tooltip" title="净资产收益率">ROE(PE/PB)</a></th>
            <th>市现率(PCF)</th>
            <th>市盈率(PE)</th>
            <th>市净率(PB)</th>
            <th>市值(亿)</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
    </table>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='stock/mystock_list.js',v=version_no) }}"></script>
<script type=text/javascript>

var default_stock = '{{code|e}}';
var page_title = '{{title|e}}';

var mystock_ajax_option =  {
    url:$SCRIPT_ROOT + '/stock/mystockJson',
    data:{
             code : '{{stype|e}}'
    },
    type:'get',
    cache:false,
    dataType:'json'
    };
</script>

{% include 'stock/partion/buy_stock.html' %}
{% include 'stock/partion/edit_tag.html' %}
{% include 'stock/partion/pe.html' %}
{% include 'stock/partion/pb.html' %}
{% include 'stock/partion/pcf.html' %}
{% include 'stock/partion/roe.html' %}
{% include 'stock/partion/debet.html' %}
{% include 'stock/partion/grow.html' %}
{% include 'stock/partion/relation.html' %}
{% include 'stock/partion/add_relation_stock.html' %}
{% include 'stock/partion/add_stock.html' %}

{% endblock %}