{% extends "layout.html" %}
{% block body %}

<div class="container-fluid">
    <table id="example" class="display" cellspacing="0" width="98%">
        <thead>
        <tr>
            <th>编码</th>
            <th>名称</th>
            <th>类型</th>
            <th>市盈率</th>
            <th>增长率(%)</th>
            <th width="40"><a href="#" data-toggle="tooltip" title="负债比总资产">负债率</a></th>
            <th width="40">机构持股</th>
            <th>市销率</th>
            <th>市现率</th>
            <th>市净率</th>
            <th width="40"><a href="#" data-toggle="tooltip" title="可支配现金比市值">可用现金率</a></th>
            <th>市值(亿)</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for d in stocks: %}
        <tr id="row-{{d.code|e}}">
            <td>{{d.code|e}}</td>
            <td><a href='/stock/{{d.ncode|e}}' target="_blank">{{d.name|e}}</a></td>
            <td>{{d.grow_type|e}}</td>
            <td><a href="#peModal" data-stock="{{d.ncode|e}}" data-name="{{d.name|e}}" data-toggle="modal">{{d.pe|e}}</a></td>
            <td><a href="#growModal" data-stock="{{d.ncode|e}}" data-name="{{d.name|e}}" data-toggle="modal">{{d.jlr_rate|e}}</a></td>
            <td><a href="#debetModal" data-stock="{{d.code|e}}" data-name="{{d.name|e}}" data-toggle="modal">{{d.dar|e}}</a></td>
            <td><a href="#holderModal" data-stock="{{d.code|e}}" data-name="{{d.name|e}}" data-toggle="modal">{{d.sh_rate|e}}</a></td>
            <td><a href="#psModal" data-stock="{{d.code|e}}" data-name="{{d.name|e}}" data-toggle="modal">{{d.ps|e}}</a></td>
            <td><a href="#pcfModal" data-stock="{{d.code|e}}" data-name="{{d.name|e}}" data-toggle="modal">{{d.pcf|e}}</a></td>
            <td>{{d.pb|e}}</td>
            <td>{{d.cash_rate|e}}</td>
            <td><a href='https://xueqiu.com/S/{{d.ncode|e}}' target="_blank">{{d.mvalue|e}}</a></td>
            <td>
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default　btn-sm dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" onclick="javascript:del('{{d.code|e}}',this);return false;">删除</a></li>
                        <li><a href="#" onclick="javascript:updateData('{{d.ncode|e}}');return false;">更新</a></li>
                        <li><a href="#buyStockModal" data-stock="{{d.code|e}}" data-inprice="{{d.in_price|e}}" data-indate="{{d.in_date|e}}" data-toggle="modal">设置</a></li>
                        <li><a href='/stock/blog/{{d.ncode|e}}' target="_blank">日志</a></li>
                        <li><a href='http://data.eastmoney.com/report/{{d.ncode|e}}.html' target="_blank">研报</a></li>
                        <li><a href='http://data.eastmoney.com/notice/{{d.code|e}}.html' target="_blank">公告</a></li>
                        <li><a href='http://soft-f9.eastmoney.com/soft/gp30.php?code={{d.pcode|e}}' target="_blank">业务分析</a></li>
                        <li><a href="#relationModal" data-stock="{{d.code|e}}" data-name="{{d.name|e}}" data-toggle="modal">行业对比</a></li>
                        <li><a href='http://quotes.money.163.com/f10/zycwzb_{{d.code|e}},year.html' target="_blank">财务指标</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script type=text/javascript>
var modal_datatable;
var list_table;

function del(code,el) {
    var aj = $.ajax( {
    url:$SCRIPT_ROOT + '/stock/remove',
    data:{
             code : code
    },
    type:'post',
    cache:false,
    dataType:'json',
    success:function(data) {
        if(data.msg =="true" ){
            list_table.row($(el).parents('tr')).remove().draw( false );
            //window.location.reload();
        }else{
            console.warn("server result is:"+data.msg);
        }
     }
    });
  };

function updateData(code){
    var aj = $.ajax( {
    url:$SCRIPT_ROOT + '/setting/update/',
    data:{
             code : code
    },
    type:'post',
    cache:false,
    dataType:'json',
    success:function(result){
         if(result.msg == true){
             alert('数据更新成功');
         }else{
            console.error(result.msg);
         }
        }
    });

};

//加载完毕自动执行
$(function(){
 list_table = $('#example').DataTable({
    "paging": false,
    aoColumnDefs: [
        { "sWidth": "6%", "aTargets": [ 0 ] },
        { "sWidth": "8%", "aTargets": [ 1 ] },
        { "sWidth": "2%", "aTargets": [ 2 ] }
        ],
    });
});

</script>

{% include 'stock/partion/buy_stock.html' %}
{% include 'stock/partion/pe.html' %}
{% include 'stock/partion/ps.html' %}
{% include 'stock/partion/pcf.html' %}
{% include 'stock/partion/debet.html' %}
{% include 'stock/partion/holder.html' %}
{% include 'stock/partion/grow.html' %}
{% include 'stock/partion/relation.html' %}
{% include 'stock/partion/holder_track.html' %}

{% endblock %}