{% extends "layout.html" %}
{% block body %}

<div class="container-fluid">
    <table id="example" class="display" cellspacing="0" width="90%">
        <thead>
        <tr>
            <th>编码</th>
            <th>名称</th>
            <th>市盈率</th>
            <th>市净率</th>
            <th>市现率</th>
            <th>每股收益</th>
            <th>财务分析</th>
            <th>股价走势</th>
            <th>日志</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for d in stocks: %}
        <tr>
            <td>{{d.code|e}}</td>
            <td><a href='/stock/valuation/{{d.ncode|e}}' target="_blank">{{d.name|e}}</a></td>
            <td>{{d.sylv|e}}</td>
            <td>{{d.sjlv|e}}</td>
            <td>{{d.sxlv|e}}</td>
            <td>{{d.mgsy|e}}</td>
            <td><a href='http://quotes.money.163.com/f10/zycwzb_{{d.code|e}},year.html' target="_blank">{{d.report_type|e}}</a></td>
            <td><a href='https://xueqiu.com/S/{{d.ncode|e}}' target="_blank">{{d.price|e}}</a></td>
            <td><a href='/stock/blog/{{d.ncode|e}}' target="_blank">查看</a></td>
            <td><a href="#" onclick="javascript:del('{{d.code|e}}');return false;">删除</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script type=text/javascript>
function del(code) {
    var aj = $.ajax( {
    url:$SCRIPT_ROOT + '/stock/remove',
    data:{
             code : code
    },
    type:'post',
    cache:false,
    dataType:'json',
    success:function(data) {
        if(data.msg =="true" ){
            window.location.reload();
        }else{
            console.warn("server result is:"+data.msg);
        }
     }
    });
  };

//加载完毕自动执行
$(function(){
 $('#example').DataTable({"paging": false});
});

</script>

{% endblock %}