{% extends "layout.html" %}
{% block nav %}
    <li><a href="{{ url_for('stock.add') }}">添加股票</a></li>
    <li><a href="/stock/blog/sh000001">投资日志</a></li>
{% endblock %}

{% block body %}

<div class="container-fluid">
    <table id="example" class="display" cellspacing="0" width="90%">
        <thead>
        <tr>
            <th>编码</th>
            <th>名称</th>
            <th>市盈率</th>
            <th>市净率</th>
            <th>市现率</th>
            <th>财务分析</th>
            <th>股价走势</th>
            <th>日志</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for d in stocks %}
        <tr>
            <td>{{d.code|e}}</td>
            <td><a href='/stock/{{d.ncode|e}}' target="_blank">{{d.name|e}}</a></td>
            <td>{{d.sylv|e}}</td>
            <td>{{d.sjlv|e}}</td>
            <td>{{d.sxlv|e}}</td>
            <td><a href='http://quotes.money.163.com/f10/zycwzb_{{d.code|e}},year.html' target="_blank">{{d.report_type|e}}</a></td>
            <td><a href='https://xueqiu.com/S/{{d.ncode|e}}' target="_blank">{{d.price|e}}</a></td>
            <td><a href='/stock/blog/{{d.ncode|e}}' target="_blank">查看</a></td>
            <td>
                <a href="#" onclick="javascript:sel('{{d.code|e}}');return false;">选取</a>
                |
                <a href="#" onclick="javascript:updateData('{{d.ncode|e}}');return false;">更新</a>
                |
                <a href="#" onclick="javascript:del('{{d.code|e}}',this);return false;">删除</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script type=text/javascript>

var mytable;

function sel(code) {
    var aj = $.ajax( {
    url:$SCRIPT_ROOT + '/stock/rollback',
    data:{
             code : code
    },
    type:'post',
    cache:false,
    dataType:'json',
    success:function(data) {
        if(data.msg =="true" ){
            window.location.reload();
        }else{
            console.warn("server result is:"+data.msg);
        }
     }
    });
  };

function del(code,el) {
    var aj = $.ajax( {
    url:$SCRIPT_ROOT + '/stock/del',
    data:{
             code : code
    },
    type:'post',
    cache:false,
    dataType:'json',
    success:function(data) {
        if(data.msg =="true" ){
        mytable.row($(el).parents('tr')).remove().draw(false);
            //window.location.reload();
        }else{
            console.warn("server result is:"+data.msg);
        }
     }
    });
  };

function updateData(code){
    var aj = $.ajax( {
    url:$SCRIPT_ROOT + '/setting/update/',
    data:{
             code : code
    },
    type:'post',
    cache:false,
    dataType:'json',
    success:function(result){
         if(result.msg == true){
             alert('数据更新成功');
         }else{
            console.error(result.msg);
         }
        }
    });

}

//加载完毕自动执行
$(function(){
  mytable = $('#example').DataTable({scrollY: 400,paging: false});
});
</script>

{% endblock %}