{% from "macro/comment.html" import comment with context %}
{% extends "layout.html" %}
{% block body %}

<div class="container-fluid">
    <p>
        <a href="http://stockdata.stock.hexun.com/2009_cgjzd_{{code}}.shtml" target="_blank">股东人数变化</a>
        &nbsp; | &nbsp;
        <a href="#" onclick="updateData()">数据更新</a>
        &nbsp; | &nbsp;
        <a href="#valuation">历史估值</a>
    </p>

    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" onclick="getData('year')">年度</button>
        <button type="button" class="btn btn-default" onclick="getData('quart')">季度</button>
    </div>

    <p>
        <div id="revenue-1" class="col-md-6"></div>
        <div id="revenue-2" class="col-md-6"></div>
        <div id="revenue-3" class="col-md-6"></div>
        <div id="revenue-4" class="col-md-6"></div>
        <div id="valuation" class="col-md-12"></div>
    </p>
    <p>
        <table id="example" width="90%"></table>
    </p>


</div>

<script type="text/javascript">

var mytable = $('#example').DataTable({
        columns: [
            { title: "日期" },
            { title: "收盘价" },
            { title: "市盈率" },
            { title: "市销率" },
            { title: "市现率" },
            { title: "每股收益TTM" },
            { title: "每股营业收入TTM" },
            { title: "每股经营现金流TTM" }
        ]
    });

function updateData(){
    var aj = $.ajax( {
    url:$SCRIPT_ROOT + '/setting/update/',
    data:{
             code : '{{ code|safe }}'
    },
    type:'post',
    cache:false,
    dataType:'json',
    success:function(result){
         if(result.msg == true){
             alert('数据更新成功');
         }else{
            console.error(result.msg);
         }
        }
    });

}


function getData(category) {
    var aj = $.ajax( {
    url:$SCRIPT_ROOT + '/stock/valuationJson',
    data:{
             category : category,
             price : '{{ price|safe }}',
             code : '{{ code|safe }}'
    },
    type:'post',
    cache:false,
    dataType:'json',
    success:valuation
    });

    var aj = $.ajax( {
    url:$SCRIPT_ROOT + '/stock/revenueJson',
    data:{
             category : category,
             code : '{{ code|safe }}'
    },
    type:'post',
    cache:false,
    dataType:'json',
    success:revenue
    });
  };

//营收
function revenue(result){

if(result.cat=='year'){
    var yysrs = [{'name':'营业收入','data':result.data.yysr }];
    var jlrs = [{'name':'营业利润','data':result.data.jlr }];
    var jyjxjls = [{'name':'经营净现金流','data':result.data.jyjxjl }];
    var drate = [{'name':'股东权益','data':result.data.drate}];
}else{
    var yysrs = [
        {'name':'最近','data':result.data.yysr[0]},
        {'name':'去年同期','data':result.data.yysr[1]},
        {'name':'前年同期','data':result.data.yysr[2]}
        ];
    var jlrs = [
        {'name':'最近','data':result.data.jlr[0]},
        {'name':'去年同期','data':result.data.jlr[1]},
        {'name':'前年同期','data':result.data.jlr[2]}
        ];
    var jyjxjls = [
        {'name':'最近','data':result.data.jyjxjl[0]},
        {'name':'去年同期','data':result.data.jyjxjl[1]},
        {'name':'前年同期','data':result.data.jyjxjl[2]}
        ];
    var drate = [
        {'name':'最近','data':result.data.drate[0]},
        {'name':'去年同期','data':result.data.drate[1]},
        {'name':'前年同期','data':result.data.drate[2]}
        ];
}


var mydate = {{ mydate|safe}};

    $('#revenue-1').highcharts({
        chart: {type: 'column'},
        title: {text: '营业收入'},
        xAxis: {categories: []},
        credits: {enabled: false},
        series: yysrs
    });
    $('#revenue-2').highcharts({
        chart: {type: 'column'},
        xAxis: {categories: []},
        title: {text: '营业利润'},
        credits: {enabled: false},
        series: jlrs
    });
    $('#revenue-3').highcharts({
        chart: {type: 'column'},
        xAxis: {categories: []},
        title: {text: '经营净现金流'},
        credits: {enabled: false},
        series: jyjxjls
    });
    $('#revenue-4').highcharts({
        chart: {type: 'column'},
        xAxis: {categories: []},
        title: {text: '股东权益'},
        credits: {enabled: false},
        series: drate
    });
}

//估值
function valuation(result){
    var pe = {'name':'市盈率'};
    pe['data'] = result.data.pe;
    var ps = {'name':'市销率'};
    ps['data'] = result.data.ps;
    var pcf = {'name':'市现率'};
    pcf['data'] = result.data.pcf;
    var close = {'name':'股价','type':'spline','yAxis':1 };
    close['data'] = result.data.close;
    var mydate = {{ mydate|safe}};

    //显示数据
    mytable.destroy();
    mytable = $('#example').DataTable( {
        data: result.data.tableData,
        "order": [[ 0, "desc" ]],
        searching: false,
        columns: [
            { title: "日期" },
            { title: "收盘价" },
            { title: "市盈率" },
            { title: "市销率" },
            { title: "市现率" },
            { title: "每股收益TTM" },
            { title: "每股营业收入TTM" },
            { title: "每股经营现金流TTM" }
        ]
    } );


    $('#valuation').highcharts({
        chart: {
            zoomType: 'xy'
        },
        title: {
            text: '{{ title|safe}}历史估值(当前价格:{{ price|safe}})'
        },
        xAxis: {
            categories: []
        },

        yAxis: [{ // Primary yAxis
            title: {
                text: '估值',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            },
            labels: {
                format: '{value}',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            }
        }, { // Secondary yAxis
            title: {
                text: '股价',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            labels: {
                format: '{value} ',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            opposite: true
        }],
        series: [pe,ps,pcf,close]
    });
}

//加载完毕自动执行

$(function(){
getData('year');

});


</script>

{% endblock %}