{% extends "layout.html" %}
{% block body %}

<div class="container-fluid">
    <p class="text-left">市盈率 = 收盘价/每股收益(TTM)</p>
    <p class="text-left">市销率 = 收盘价/每股营业收入(TTM)</p>
    <p class="text-left">市现率 = 收盘价/每股经营现金流(TTM)</p>

    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" onclick="getData('year')">年度</button>
        <button type="button" class="btn btn-default" onclick="getData('quart')">季度</button>
    </div>

    <div id="valuation" style="min-width:600px;height:400px"></div>

    <button type="button" id="toggleButton">列表显示</button>
    <table id="example" class="display" cellspacing="0" width="100%" style="display:none"></table>


    <div id="revenue" style="min-width:600px;height:400px"></div>
</div>

<script type="text/javascript">

function getData(category) {
    var aj = $.ajax( {
    url:$SCRIPT_ROOT + '/stock/valuationJson',
    data:{
             category : category,
             price : '{{ price|safe }}',
             code : '{{ code|safe }}'
    },
    type:'post',
    cache:false,
    dataType:'json',
    success:valuation
    });

    var aj = $.ajax( {
    url:$SCRIPT_ROOT + '/stock/revenueJson',
    data:{
             category : category,
             code : '{{ code|safe }}'
    },
    type:'post',
    cache:false,
    dataType:'json',
    success:revenue
    });
  };

//营收
function revenue(result){

var yysrs = {'name':'营业收入','data':result.data.yysr };
var jlrs = {'name':'营业利润','data':result.data.jlr };
var jyjxjls = {'name':'经营净现金流','data':result.data.jyjxjl };
var drate = {'name':'负债率','type':'column','data':result.data.drate,'yAxis':1 };

var mydate = {{ mydate|safe}};

    $('#revenue').highcharts({                   //图表展示容器，与div的id保持一致
        chart: {
            type: 'line'                         //指定图表的类型，默认是折线图（line）
        },
        title: {
            text: '{{ title|safe}}年度营收'      //指定图表标题
        },
        xAxis: {
            categories: []   //指定x轴分组
        },
        yAxis: [
        {
            title: {
                text: '金额'
            }
        },
        {
            title: {
                text: '比率'
            },
            labels: {
                format: '{value}%'
            },
            opposite: true
        }
        ],
        series: [yysrs,jlrs,jyjxjls,drate]
    });
}

//估值
function valuation(result){
    var pe = {'name':'市盈率'};
    pe['data'] = result.data.pe;
    var ps = {'name':'市销率'};
    ps['data'] = result.data.ps;
    var pcf = {'name':'市现率'};
    pcf['data'] = result.data.pcf;
    var close = {'name':'股价','type':'spline','yAxis':1 };
    close['data'] = result.data.close;
    var mydate = {{ mydate|safe}};

    //显示数据
    $('#example').DataTable( {
        data: result.data.tableData,
        "order": [[ 0, "desc" ]],
        columns: [
            { title: "日期" },
            { title: "收盘价" },
            { title: "市盈率" },
            { title: "市销率" },
            { title: "市现率" },
            { title: "每股收益TTM" },
            { title: "每股营业收入TTM" },
            { title: "每股经营现金流TTM" }
        ]
    } );


    $('#valuation').highcharts({                   //图表展示容器，与div的id保持一致
        chart: {
            zoomType: 'xy'
        },
        title: {
            text: '{{ title|safe}}历史估值(当前价格:{{ price|safe}})'      //指定图表标题
        },
        xAxis: {
            categories: []   //指定x轴分组
        },

        yAxis: [{ // Primary yAxis
            title: {
                text: '估值',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            },
            labels: {
                format: '{value}',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            }
        }, { // Secondary yAxis
            title: {
                text: '股价',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            labels: {
                format: '{value} ',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            opposite: true
        }],
        series: [pe,ps,pcf,close]
    });
}

//加载完毕自动执行

$(function(){

getData('year');
  $("#toggleButton").click(function(){
  $("#example").toggle();
  });

});


</script>

{% endblock %}