{% extends "index_layout.html" %}

{% block head %}
<link href="{{ url_for('static', filename='styles/content.css',v=version_no) }}" rel="stylesheet" type="text/css" media="all">
<style>
    .img-responsive {
  display: inline-block;
  height: auto;
  max-width: 100%;
}
</style>
{% endblock %}

{% block body %}
<div id="colwrap">
    <section id="content">
        <div class="main-content row">
            <h1>怎么做投资笔记？</h1>
        <p></p>

            <p>笔记的内容大体分为两类：</p>
            <p>--股票跟踪</p>
            <p>记录投资过程的细节，为复盘提供基础，比如对当前股票的看法，打算投资多少、什么时间投等信息。另外也要记录交易历史和仓位信息。从各个股票详情中点击“投资笔记”进入。</p>

            <p>--投资方法</p>
            <p>
                不针对特定股票的所思所想都属于投资方法范围，记录自身投资方法的思考和从他人了解到的新方法论。从投资列表中点击“投资笔记”进入。
            </p>

            <ul>
                <li>
                    <h2>股票跟踪写什么？</h2>
                    <p>一般而言，投资笔记应该包含以下信息：</p>
                    <p>
                        摘录重要的新闻、事件，以及时间点
                    </p>
                    <p>记录自己的观点和心得,写下为什么要买的理由，为什么要卖的原因</p>
                    <p>记录每一笔投资的交易情况，最好能统计仓位的占比</p>
                </li>

                <li>
                    <h2>投资方法写什么？</h2>
                    <p>这类笔记的内容应该包括：</p>
                    <p>初心和目标，当初为什么选择这个投资方法；</p>
                    <p>操作的规则和方法，比如定投，就是每个月定投 XX 元；</p>

                    <br/>
                    <p>
                        由于绝大多数的投资方法跨度都比较长，从数月到数年，所以很容易面临一个问题——忘记初心。</p>
                    <p>我们更容易受到新消息的影响，而渐渐忘记很久以前的即使很重要的内容。

                        比如本来是想要做趋势投资，赚一波趋势就走人，如果亏损就认赔走人。结果亏损出现后却迟迟不肯止损，做来做去变成了伪价值投资来麻痹自己。</p>
                    <p>

                        再比如一开始信誓旦旦要定投十年，等到市场低潮的时候多加仓。结果一点点小波动就变成了「我先退出去看看，稳定了再回来」。我相信在当前的国内市场环境下，这类投资者不在少数吧，原来想要长期定投，结果打个贸易战就都吓跑了……</p>
                    <p>
                        所以，在投资初始认真的记录下这些内容和想法真的很有必要，<b>我们是忘性很大的动物，所以需要笔记这个第二大脑。</b>

                    </p>
                    <br/>


                </li>

            </ul>
            <p>
                其实，怎么写笔记最终因人而已，没有什么最好的建议。
                写笔记的目的就是通过自己的记录和反省，不断构建、演化出属于自己的投资方法。
                成功的投资方法充满辩证和精妙，只有通过自身实践才能掌握，期望照搬别人、快速掌握是非常不现实的。</p>
            <p>
                价值投资是一条孤单而漫长的路，这条路的起点您可以从写下第一篇投资笔记开始！
            </p>
            <p class="secondary-text">
                <em>想了解为什么要做投资笔记？请<a href="/why" target="_blank">点击这里</a>。</em>
            </p>
                <div class="button-container">
                    <a class="button-primary--round button" href="/register">立刻注册</a>
                </div>

        </div>
    </section>
</div>
{% endblock %}