{% extends "index_layout.html" %}

{% block head %}
<link href="{{ url_for('static', filename='styles/homepage.css',v=version_no) }}" rel="stylesheet" type="text/css" media="all">
{% endblock %}


{% block body %}

<section class="home-hero webclipper-variant">
    <div class="hero-webclipper row">
        <div class="webclipper-computer"></div>
        <div class="webclipper-hero-content">
            <h1>做你的投资私人秘书</h1>
            <p>做投资笔记是执行投资、学习投资、股市复盘的重要前提。投资笔记帮你随时记录，永久保存。</p>
            <a href="#more-section" class="button-v3-primary large premium">了解更多</a>
        </div>
    </div>
</section>
<section class="new-story" id="more-section">
    <div class="row">

        <div class="story-item image-on-right">
            <div class="story-image note"></div>
            <div class="story-content">
                <h2>提供信息，不提供建议</h2>
                <p>投资重在独立思考，建议易得而思考很苦，这是大多数人愿意直接听建议的原因。学会思考，从尝试质疑每条信息开始。</p>
            </div>
        </div>

        <div class="story-item image-on-left">
            <div class="story-image sync"></div>
            <div class="story-content">
                <h2>保持宁静，减少投资噪音</h2>
                <p>市场上的噪音远多于信号，与人群保持距离，可以减少群体性情绪影响。</p>
            </div>
        </div>

        <div class="story-item image-on-right">
            <div class="story-image find"></div>
            <div class="story-content">
                <h2>限制关注数量，研究更深入些</h2>
                <p>只做自己看得懂的股票，关注太多，分散精力且更易浮躁。</p>
            </div>
        </div>

        <div class="story-item image-on-left">
            <div class="story-image share"></div>
            <div class="story-content">
                <h2>技术指标很少，交易慢一点</h2>
                <p>减少操作频率，拿出长期投资的心态，那么，当下那一点小波动根本不算什么。耐心一点，这样可以挣的多一点。</p>
            </div>
        </div>

    </div>
</section>
<section class="bottom-cta" style="background:#32698c; ">
    <div class="row">

        <h2>投资笔记</h2>
        <p>开启属于自己的投资时代</p>
        <div style="max-width: 460px; margin: 40px auto 0;">
            <button name="register" class="click_tracking button-pricing--premium" data-label="home_CTA"
                    onClick="location.href='/howto'">立刻开始
            </button>
        </div>
    </div>
</section>

{% endblock %}