{% extends "layout.html" %}
{% block body %}

    <div class="">
        <div class="bs-example center-block text-center">
        {{info.content|e}}
        </div>
    </div>



<style>

  .bs-example {
    margin-top:180px;
    padding: 20px 15px 20px;
    font-size: 16px;
    width: 468px;
    background-color: #fff;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

</style>



{% endblock %}