<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ title }}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='jquery.dataTables.min.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.12.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='highcharts.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootbox.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.blockui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $(function(){
            $(document).ajaxStart(function(){
                $.blockUI({
                    message: '加载中...',
                    baseZ: 20000,
                    css: {
                        border: '1px solid #ddd',
                        padding: '7px',
                        fontSize: '13px',
                        position: 'fixed',
                        backgroundColor: '#eee'
                    },
                    overlayCSS: {
                        backgroundColor: '#555',
                        opacity: 0.5,
                        cursor: 'wait'
                    }
                });
                // console.debug('start');
              });
              $(document).ajaxStop(function(){
                $.unblockUI();
                // console.debug('end');
              });
        });
    </script>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">投资笔记</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">漫游 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/stock/mystock/0">自选股</a></li>
                        <li><a href="/stock/mystock/1" target="_blank">备选股</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="http://data.eastmoney.com/xuangu/" target="_blank">选股器</a></li>
                        <li><a href="/stock/person_stockholder_rank">自然人持股排行</a></li>
                        <li><a href="http://quotes.money.163.com/old/#query=NBJY&DataType=nbjy&sort=REPORTDATE&order=desc&count=25&page=0" target="_blank">内部交易</a></li>
                        <li><a href="http://fund.eastmoney.com/trade/pg.html" target="_blank">基金排行(市场热度)</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/macro">宏观指标</a></li>
                        <li><a href="/stock/blog/sh000001">交易日记</a></li>
                    </ul>
                </li>
                <li class="active"><a href="#">{{ title }} <span class="sr-only">(current)</span></a></li>
                {% block nav %}{% endblock %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">关于</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">系统 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">设置</a></li>
                        <li><a href="/setting">数据更新</a></li>
                        <li><a href="http://www.cninfo.com.cn/cninfo-new/information/prbookinfo" target="_blank">定期报告预约披露时间表</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/macro">宏观指标</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
        <div class="row">
            <h4>{{ title }}</h4>
            {% for message in get_flashed_messages() %}
            <div class="flash alert alert-danger">{{ message }}</div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
    </div>

</body>
</html>
