<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>股票分析</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='nv.d3.min.css') }}">
    <link rel=stylesheet type=text/css href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.12.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='nv.d3.min.js') }}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
</head>
<body>
<div class=page>
      <a href="/mystock">自选股</a>
      <a href="/stock">股票列表 </a>
      <a href="/tools">选股器</a>
      <a href="/setting">数据更新</a>
      <a href="/test">技术测试</a>
  <hr/>    
  <h1>{{ title }}</h1>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}

  {% block body %}{% endblock %}
</div>
</body>
</html>
