<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录 - 投资笔记</title>
    <meta name="description" content="记录投资心路，远离喧哗，独立投资者的私人场所"/>
    <meta name="keywords" content="投资笔记 历史市盈率 历史市净率 交易笔记 投资 价值投资"/>
    <link rel="stylesheet" href="../static/styles/my.css?v=20160624">
    <link rel="stylesheet" href="../static/styles/mainv2.css?v=20160318">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery.blockUI/2.70.0-2014.11.23/jquery.blockUI.min.js"></script>


    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
    <script>
    var _hmt = _hmt || [];
    (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?725bde352447701ccfd5b5b5eed79ea6";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
    })();
    </script>

</head>

<body class="whitebody">

<!--[if lt IE 9]>
<div id="browser_ie">
    <div class="brower_info">
        <h4>系统检测到您使用的浏览器版本过低，这可能导致网站不能正常访问，请升级您的浏览器，我们为您推荐：</h4>
        <p>
            <a href="https://www.google.com.hk/chrome/" target="_blank">Chrome浏览器</a>
            <a href="http://www.firefox.com.cn/download/" target="_blank">Firefox浏览器</a>
            <a href="http://se.360.cn/" target="_blank">360浏览器</a>
        </p>
    </div>
</div>
<![endif]-->

<div id="top" class="regtop">
    <div class="wid wid2">
        <div id="logo">
            <a href="/">投资笔记</a>
        </div>
        <div id="rlogoright"><a href="/login">登录</a> <span>|</span> <a href="/register">注册</a></div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="wid wid2">
    <div id="regbox">
        <div id="regleft">
            <a href="#" target="_blank"><img src="../static/nadlogin_meitu_1.jpg"/></a>
        </div>
        <div id="regright">
            <h1>欢迎登录投资笔记</h1>
            <form>
                <div class="formline">
                    <div class="labelright">
                        <input type="text" name="mobile" class="roundinput" id="mobile" value='{{info["m_name"]|e}}'
                               placeholder="请输入手机号"/>
                    </div>
                    <div class="flhint" id="mobilehint"></div>
                </div>
                <div class="formline">
                    <div class="labelright"><input type="password" class="roundinput" id="password"
                                                   placeholder="请输入密码"/></div>
                    <div class="flhint" id="passwordhint"></div>
                </div>
                <div class="formline" id="autologinline">
                    <label class="checkbox-group" id="checkboxgroup1">
                        <input type="checkbox" id="autologin" value="1" checked="checked"/>
                        <span>自动登录</span>
                    </label>
                    <!--<a href="/forgetPassword" class="bluea" id="forgeta">忘记密码</a>-->
                </div>
                <div class="formline">
                    <input type="hidden" name="fromurl" id="fromurl" value=""/>
                    <input type="button" class="btn" id="regbtn" value="用户登录"/>
                    <div class="red" id="loginhint"></div>
                </div>
                <div class="formline mcenter" id="regrbotline">
                    还没有帐号？<a href="/register" class="bluea">立即注册</a>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script type="text/javascript">

function isMobile(val){
 var reg = /^1[34578]\d{9}$/;
 return reg.test(val);
};

function checkMobile(){
	var mobile = $.trim($("#mobile").val());
	if(!isMobile(mobile))
	{
		$("#mobile").parent().addClass('has-error');
        $("#mobilehint").addClass('red').html('输入错误');
	}else{
	    $("#mobilehint").removeClass('red').addClass('green').html('&#10003');
	}
};

function checkPassword(){
	var password = $.trim($("#password").val());
	if(password.length<8)
	{
		$("#password").parent().addClass('has-error');
		$("#passwordhint").html('<span class="red">输入错误</span>');
	}
};

$("#mobile").on('focus', function(){
	$(this).parent().removeClass('has-error');
	$("#mobilehint").html('');
}).on('blur', checkMobile);

$("#password").on('focus', function(){
	$(this).parent().removeClass('has-error');
	$("#passwordhint").html('');
}).on('blur', checkPassword);


$("#regbtn").on('click', function(){
    $("#loginhint").html('');
    checkMobile();
    checkPassword();
	if($(".has-error").length>0) return false;
	var password = $.trim($("#password").val());
	var mobile = $.trim($("#mobile").val());
	var remember = $('#autologin').is(':checked');

	$.ajax({
                    url: '/login',
                    type: 'post',
                    data: {password:password, mobile:mobile, remember:remember},
                    dataType: 'json',
                    beforeSend: function () {
                     $.blockUI({
                    message: '登录中...',
                    baseZ: 20000,
                    css: {
                        border: '1px solid #ddd',
                        padding: '7px',
                        fontSize: '13px',
                        position: 'fixed',
                        backgroundColor: '#eee'
                    },
                    overlayCSS: {
                        backgroundColor: '#555',
                        opacity: 0.5,
                        cursor: 'wait'
                    }
                });

                     },
                    complete: function (){
                    $.unblockUI();
                    },
                    success: function (data,status) {
                        if(data.status == 200)
                            {
                                document.location.href = '/stock/mystock/0';
                            }
                            else
                            {
                                $("#loginhint").html(data.msg);
                            }

                    }
                });


})


</script>
<style>
#browser_ie {
background-color: #f6f6b4; height: 85px; color: #000; font-size: 15px
}
#browser_ie .brower_info {
margin: 0px auto; width: 800px; padding-top: 17px
}
#browser_ie .brower_info .notice_info {
position: relative; margin-top: 5px; float: left
}
#browser_ie .brower_info .notice_info p {
text-align: left; line-height: 25px; width: 360px; display: inline-block
}
#browser_ie .browser_list {
position: relative; float: left
}
#browser_ie .browser_list img {
width: 40px; height: 40px
}
#browser_ie .browser_list span {
text-align: center; width: 80px; display: inline-block
}
</style>
<div class="wid" id="foot2">
    <div class="wid2">
        <p class="clear mtop15 mcenter">&copy; 2017-2019 辽ICP备17020606号 联系方式：5692322@qq.com</p>
    </div>
</div>
</body>
</html>