{% extends "layout.html" %}

{% block nav %}

{% endblock %}

{% block body %}


<div class="container-fluid">
    <div class="row">
        {% for d in stocks: %}
        <div class="col-xs-6 col-md-2" id="stock-list">
            <h5><a href="/stock/valuation/{{d.ncode|e}}" target="_blank">{{d.name|e}} {{d.code|e}}</a></h5>
        </div>
        {% endfor %}
    </div>
    <ul id='bp-element'></ul>
</div>
<script>

$(function(){

    var element = $('#bp-element');
        options = {
            bootstrapMajorVersion:3, //对应的bootstrap版本
            currentPage: {{currentPage|e }}, //当前页数，这里是用的EL表达式，获取从后台传过来的值
            numberOfPages: 5, //每页页数
            totalPages:{{totalPages|e }}, //总页数，这里是用的EL表达式，获取从后台传过来的值
            itemTexts: function (type, page, current) {
                    switch (type) {
                        case "first": return "首页";
                        case "prev": return "上一页";
                        case "next": return "下一页";
                        case "last": return "末页";
                        case "page": return page;
                    }
                },
            //点击事件
            onPageClicked: function (event, originalEvent, type, page) {
                location.href = "/stockList/" + page;
            }
        };
        element.bootstrapPaginator(options);

});

</script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap-paginator.js',v=version_no) }}"></script>
{% endblock %}