{% extends "index_layout.html" %}

{% block head %}
<link href="{{ url_for('static', filename='styles/content.css',v=version_no) }}" rel="stylesheet" type="text/css" media="all">
{% endblock %}


{% block body %}
<div id="colwrap">
<section id="content">
	<div class="row main-content">
        <h1>普通投资者为什么要做投资笔记？</h1>
        <p></p>

        <p>作为一名多年的投资爱好者，随时做投资笔记已经成为自己的日常习惯。当然，这个习惯让我受益匪浅。</p>
        <p>记得刚开始做投资时，自己也觉得没有必要，写下来？又麻烦，又多此一举。</p>
        <p>触发自己开始写投资笔记，是从几笔失败交易开始的。因为总亏钱，就想总结失败的原因。但当静下心开始总结时却突然发现，时过境迁，原来买入的原因已经记不大清楚，中间的买卖变化原因更无从知晓，投资总结很难做扎实。</p>

        <p>
            从强制自己写投资笔记，逐渐的，我发现写投资笔记开始为我带来了一些好处：
        </p>

        <ul>
            <li>
                <h2>复盘变的简单和客观。</h2>
        <p>老话说，好记性不如烂笔头。对照投资笔记，我发现自己脑袋里给出的记忆不仅被极大简化，而且偏差很大。</p>
        <p>投资是逆直觉和逆人性的，每个正常人都摆脱不了自己人性的弱点，恐惧亏损而放大收益。</p>
        <p>我们以为自己记得清楚明白，事实上却是自己的潜意识在指导记忆哪些信息，抛弃哪些信息。</p>
        <p>科学家的研究也表明，大脑不是简单的把所有的记忆像硬盘一样复制到大脑某处，而是选择性记录几个关键点。当我们回忆时，其实是大脑按照自己的逻辑在重构过去，而这个重构过程有很多主观的东西，可能已经形成极大偏差，而回忆者浑然不知。</p>
                <br/>

        <p><b>复盘，我更相信自己的投资笔记。</b></p>
            </li>
            <li>
                <h2>对股价走势更加淡定。</h2>
        <p>按照想好的计划行动，在实际投资中其实是一件很难得事情。这也是现在机械投资、自动化投资大行其道的原因。</p><br/>
                <p>作为普通投资者，我们的实际交易更容易受市场波动和个人情绪的影响。买的时候总想更低的买，卖的时候总想卖一个高价，结果每次交易都患得患失，搞的自己也很紧张。 买入后又纠结什么时候卖，当股价走势波动很大时，个人情绪起伏就更大了。</p><br/>

                <p>
                    <b>从开始写投资笔记，如果要交易，我强制自己开市前先写下交易计划。</b>
                </p>
                <p>为什么要买？理由一二三。</p>
                <p>为什么要卖？理由一二三。</p>
                <p>发生什么情况就加仓，多钱加，加多少。 </p>
                <p>发生什么情况，就减仓。</p>
                <p>对市场向上向下两个方向都做计划，不预测市场走向。</p>
                <p>开市后，只是观察走向，按照预案执行，整个操作变的从容。</p>
                <p><b>至于持有，就更简单了。 对照投资笔记，如果外部情况变化没有达到预设的交易基准，就一直安心持有。</b></p><br/>
                <p>就我个人经历来看，有了投资笔记，我的情绪化交易减少了很多，每天过的也更加轻松。</p>

            </li>
            <li>
                <h2>形成知识积累，构建自己投资体系变成可能。</h2>
                <p>独立思考是投资制胜的关键。投资中七输两平一赢是常态，凭什么你会成为少数的赢家？</p>
                <p>远离人群、逆向思考等都会让你变成少数人。但成为少数人只是条件之一，更关键是你的判断是正确的。</p>
                <p>如果能识别并坚守属于小众的正确投资判断，丰厚的投资利润必将离你不远。</p>
                <p>但我们怎么才能做到？没有现成的答案，但我知道要达到一定很难。</p><br/>
                <p>投资是一个易懂难精的事情。初看起来，似乎每个人只要投钱立刻就能参与。但最后你会发现大多数人都是以亏损收场。投机、赌博、黑幕等众多观点喧嚣尘上，你变得更加迷茫。于是或者以远离赌场的心态重新把钱存回银行，或者托管给第三方机构，把投资这件事交给别人。投资，其实不比其他任何行业赚钱简单。</p>
<br/>
                <p>投资也是一个重度实践的是事情。没有权威的教科书，没有包赚不赔的策略，也没人能告诉你怎么做就一定能赚钱。市场上的赢者，都是独一无二的。 要赚钱，既需要天赋，也需要汗水。</p>
                <br/>
                <p>可以看到，成功的投资一定要有自己的投资体系，要能对自己过去的经历不断反思，从而让自己的投资变的有序和保持前进。</p><br/>
                <p>不管开始的逻辑多么简单，要能让自己形成积累。 学费交了，但不能变得更加迷失。</p>

                <p>有了自己的投资笔记，也就有了形成自己独特投资风格的基础。</p><br/>
                <p><b>是的，投资笔记不能让你成功，但却是你投资成功不可缺少的元素。</b></p>

            </li>
        </ul>

<br/><br/>
        <h3>做投资笔记对我很重要，我先后也用了印象笔记、有道云。通过使用，我发觉这些通用工具在投资专业度上还有些不足。</h3>
        <p>理想的投资笔记工具应该有如下特性:</p>
        <ul>
            <li>我需要收集很多信息才能形成投资决策，这些信息最好能一站式获取。</li>
            <li>股票的信息资讯信息质量要高，页面干净，我不想被一堆广告分散注意力。</li>
            <li>信息分类上，用印象笔记处理投资信息过于复杂，而投资分类很简单，按照各个股票分就好了。</li>
            <li>当然，我不知道自己在阅读中什么时候有灵感，我希望能能随时把自己的想法记录下来。 能随手记录也很重要。</li>
        </ul>


        <p>因为这些原因，就形成了现在的<b>“投资笔记”--更专业的投资云笔记工具。</b></p><br/><br/>

        <p class="secondary-text">
            <em>想了解怎么使用投资笔记？请<a href="/howto" target="_blank">点击这里</a>。</em>
        </p>
        <div class="button-container">
            <a class="button-primary--round button" href="/register">注册试用</a>
        </div>
	</div>
</section>
</div>
{% endblock %}