{% extends "layout.html" %}

{% block nav %}

{% endblock %}

{% block body %}
<style>
    ul {
        list-style: none;
    }
    ul li {
      padding: 5px;
    }
</style>

<div class="container-fluid">
    <div class="panel" id="stock-choose">
        <div class="panel-body">
            <form class="form-inline">
                <input type="text" class="form-control" id="bs_cname" data-provide="typeahead" data-value=""
                               autocomplete="off" placeholder="请输入关键词"/>
                <button type="button" class="btn btn-default" id="bs_btn" onclick="search()">提交</button>
            </form>
        </div>
    <div class="row" style="margin:10px 20px;">
        <div class="col-md-1">
            <a href="javascript:void(0);" onclick="linkSearch(this)">淡水泉</a>
        </div>
        <div class="col-md-1">
            <a href="javascript:void(0);" onclick="linkSearch(this)">重阳</a>
        </div>
        <div class="col-md-1">
            <a href="javascript:void(0);" onclick="linkSearch(this)">景林</a>
        </div>
        <div class="col-md-1">
            <a href="javascript:void(0);" onclick="linkSearch(this)">凯丰</a>
        </div>
        <div class="col-md-1">
            <a href="javascript:void(0);" onclick="linkSearch(this)">高毅</a>
        </div>
        <div class="col-md-1">
            <a href="javascript:void(0);" onclick="linkSearch(this)">高瓴</a>
        </div>
    </div>
    </div>

    <div id="detail-panel">
        <h5 id="docTitle"></h5>
        <ul id="docList"></ul>
        <table id="example" class="display" cellspacing="0" width="100%"></table>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='home/holder_find_stock.js',v=version_no) }}"></script>
<script type=text/javascript>

var default_stock = '{{code|e}}';

</script>

{% include 'stock/partion/holder_track.html' %}
{% endblock %}