{% extends "layout.html" %}
{% block body %}

<div class="col-md-10">
<table id="example" class="display" cellspacing="0" width="90%">
        <thead>
            <tr>
                <th>数据项目</th>
                <th>最近更新时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {% for d in dataItems %}
            <tr>
                <td>{{d.name|e}}</td>
                <td>{{d.update_time|e}}</td>
                <td><a href='/setting/updateAll/{{d.id|e}}'>更新</a></td>
            </tr>
        {% endfor %}
        </tbody>
</table>
</div>
<script type="text/javascript">
var mytable = $('#example').DataTable();
</script>
{% endblock %}